<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 0：引入 vue.js -->
  <title>Document</title>
  <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 界面视图 -->
    <div id="app">
        <input type="text" v-model="a"/>
        <select v-model="orderStatus" >
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="b">
        <h1>结果是：{{result}} </h1>

    </div>
    <script>
        //控制： 界面 + 数据
        var vm = new Vue({
            el:"#app",
            data:{
                a:0, //第一个操作数
                op:'+', //运算符
                b:0, //第二个操作数
                resut:"" //结果显示
            },

            watch:{
                a(){
                    switch(op) {
                        case "+":
                            this.resut = `${a}${op}${b}=${parseInt(a) + parseInt(b)}`;
                        break;
                        case "-":
                            this.resut = `${a}${op}${b}=${parseInt(a) - parseInt(b)}`;
                        break;
                        case "*":
                            this.resut = `${a}${op}${b}=${parseInt(a) * parseInt(b)}`;
                        break;
                        case "/":
                            this.resut = `${a}${op}${b}=${parseInt(a) / parseInt(b)}`;
                        break;
                    default:
                        break;

                        
                    }
                    this.resut=
                },
                b(){
                    this.resut=
                },
                op(){
                    this.resut=
                },

            }
        })
    </script>
</body>